# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Codeblocks
*.bak
*.layout
.bin
*.depend

# Misc
*~
*.pc
ABOUT-NLS
*.m4
*.cache
*.log
*.status
configure
intl
m4
po
scripts
stamp-h1
Makefile
config.h
*.[0-9]
resources.rc
app-manifest.xml
libtool
